:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --blue: hsl(228, 45%, 44%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --shadow-1: 10px 10px 0px 0px rgba(0,0,0,1);
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-preview__card {
    background-color: var(--white);
    padding: clamp(1rem, 3vw, 1.25rem);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: var(--shadow-1);
    transition: all 200ms ease;
    width: clamp(280px, 50%, 600px);
}

.blog-preview__card:hover {
    transform: translateY(3px);
}

.container {
    /* max-width: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: 5px;
}

.img__wrapper {
    width: 100%;
    height: 100%;
}

.img__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
}

.text__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-block-start: 20px;
}

.blog__tag {
    background-color: var(--yellow);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.850rem;
}

.blog__date {
    font-size: 0.870rem;
    margin-block-end: 5px;
}

.blog__title {
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

.blog__title:active {
    color: var(--yellow);
}

.blog__desc {
    font-size: 0.990rem;
    line-height: 1.5;
    color: var(--gray-500);
    margin-block-end: 8px;
}

.blog-publisher {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    justify-content: center;
}

.blog-publisher span {
    font-size: 0.9rem;
    font-weight: 700;
}

.blog-publisher .img__wrapper {
    display: flex;
}

.blog-publisher .img__wrapper img {
    width: 30px;
    height: 30px;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: var(--blue); 
}

@media (prefers-reduced-motion: reduce) {
    .blog-preview__card {
        transition: none;
    }

    .blog-preview__card:hover {
        transform: none; 
    }
}










